body {
    background-image: url("BalatonMedia/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}
    .torzs {
        width: 1000px;
        height: 600px;        
    }
    
    
